@import "./land.button.css";
@import "./land.form.css";
@import "./land.input.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    padding: 0px;
    
    width: 100%;
}

.sidemenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    gap: 20px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 30px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
