input {
    all: unset;
    width: 100%;

    box-sizing: border-box;
}

input[type="checkbox"] {
    all: revert;
    width: 16px;
    height: 16px;

    cursor: pointer;
}

textarea {
    all: unset;
    width: 100%;
}

select {
    all: unset;
    width: 100%;
}