.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 27px;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 11px;
    gap: 16px;

    background: #EFEEEE;
    color: #6e6c6c;
}

.form-input {
    padding: 14px 11px;
    gap: 16px;
    background: #EFEEEE;
    color: #6e6c6c;
}

.col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 16px;
}