@{
    ViewData["title"] = "Cadastro de Fonecedor";
}

@section css {
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .btn {
            width: 120px;
            margin-top: 16px;
        }

        .form-input {
            margin: 8px 0;
        }
    </style>
}

<h1>Cadastro de Fonecedor</h1>
<form class="form-control" method="post">
    <div>
        <label for="email">Razão Social</label>
        <input type="text" class="form-control form-input" id="email" name="Company" placeholder="Ex. Discord S.A" required>
    </div>

    <div>
        <label for="trade">Nome Fantasia</label>
        <input type="text" class="form-control form-input" id="trade" name="Trade" placeholder="Ex. Discord" required>
    </div>

    <div class="col">
        <div>
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control form-input" id="cnpj" name="CNPJ" placeholder="Ex. 05.073.318/0001-16" required>
        </div>

        <div>
            <label for="phone">Telefone</label>
            <input type="text" class="form-control form-input" id="phone" name="Phone" placeholder="Ex. (16) 98821-0103" required>
        </div>

        <div>
            <label for="email">E-mail</label>
            <input type="text" class="form-control form-input" id="email" name="Email" placeholder="Ex. suporte@discord.com" required>
        </div>
    </div>

    <div class="col">
        <button type="button" class="btn btn-primary">Cancelar</button>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>
</form>
