@{
    ViewData["title"] = "Lista de fornecedores";
}

@section css {
<style>
    .btn-buscar {
        background: #6C2020;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 0px;
        gap: 10px;

        align-self: stretch;

        border-radius: 4px;
        width: 15%;
    }

    .search {
        display: flex;
        padding: 0px;
        gap: 15px;

        height: 50px;
        width: 100%;       
    }

    .bar {
        flex-grow: 1;
        border-radius: 4px;
    }
</style>
}

<div class="search">
    <input class="form-group bar" type="text" placeholder="Digite sua busca...">
    <a href="#" class="btn-buscar">Buscar</a>
</div>