@model IEnumerable<CUF.Models.OrderModel>

@{
    ViewData["title"] = "Lista de produtos/serviços";
}

@section css {
    <style>
        .new-supplier {
            gap: 10px;
            height: 50px;
            font-size: 1.2rem;
            padding: 0 15px;
        }

        .search .btn-squarred {
            width: 100px;
        }

        .search .add {
            width: 70px;
        }

        .search {
            display: flex;
            padding: 0px;
            gap: 15px;

            height: 50px;
            width: 100%;
        }

        .bar {
            flex-grow: 1;
            border-radius: 4px;
        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        td {
            border-bottom: 1px solid #ddd;
            border-collapse: collapse;
        }

        table,
        th {
            border-bottom: 2px solid #ddd;
            border-collapse: collapse;
        }

        table .btn-squarred {
            display: inline-block;
            width: 40px;
            text-align: center;
        }

        table .table-name {
            min-width: 30vw;
            max-width: 60vw;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
        }
    </style>
}


@if (Model.Count() == 0)
{
    <h1>Nenhum pedido encontrado</h1>
    <a class="btn-squarred btn-squarred-primary new-supplier" asp-controller="Order" asp-action="Register">
        <span class="material-symbols-outlined">
            add_circle
        </span>
        <p>Cria uma novo pedido</p>
    </a>
}
else
{
    <div class="search">
        <input class="form-group form-input bar" type="text" placeholder="Digite sua busca...">
        <a href="#" class="btn-squarred btn-squarred-primary">Buscar</a>
        <a class="btn-squarred btn-squarred-success add" asp-controller="Order" asp-action="Register">
            <span class="material-symbols-outlined">
                add_circle
            </span>
        </a>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th class="table-name">Criado Por</th>
            <th>Ações</th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.User.Username</td>
                <td>
                    <a class="btn-squarred btn-squarred-primary" asp-controller="Order" asp-action="Details">
                        <span class="material-symbols-outlined">info</span>
                    </a>
                    <a class="btn-squarred btn-squarred-success add" asp-controller="Order" asp-action="Register" asp-route-id="@order.Id">
                        <span class="material-symbols-outlined">edit</span>
                    </a>
                </td>
            </tr>
        }
    </table>
}
