@model CUF.Models.OrderModel

@{
    ViewData["title"] = "Cadastro de Pedidos";
    var Name = User.Identity.Name;
    var UserId = User.Claims.Where(c => c.Type == "UserId").Select(c => c.Value).SingleOrDefault();
}

@section css {
    <style>
        .swal2-container .form-control {
            display: flex;
            box-sizing: border-box;
            padding: 2px;
            text-align: left;
        }

        .swal2-container .form-control div {
            padding: 0 5px;
        }

        .swal2-container .form-control label {
            text-align: center;
        }

        .qtd input {
            width: 90px;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .btn {
            width: 120px;
        }

        .form-input {
            margin: 8px 0;
        }

        .col {
            flex-grow: 1;
        }

        .col h2 {
            font-weight: lighter;
            font-size: 1.2rem;
            color: #6e6c6c;
            align-self: flex-start;
        }

        .form-footer {
            margin-top: 10px;
        }

        .form-control {
            flex-direction: row;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        td {
            border-bottom: 1px solid #ddd;
            border-collapse: collapse;
        }

        table,
        th {
            border-bottom: 2px solid #ddd;
            border-collapse: collapse;
        }

        table .btn-squarred {
            width: 200px;
            text-align: center;
        }

        table .table-name {
            min-width: 30vw;
            max-width: 60vw;
        }

        th,
        td {
            padding: 15px;
            text-align: left;
        }

        .table-footer {
            display: flex;
            justify-content: center;
        }

        table tr:hover td {
            background-color: #ddd;
            cursor: pointer;
        }

        .tr-footer:hover td {
            background-color: #fff;
        }
    </style>
}

<h1>Cadastro de Pedido</h1>
@*
Lista Produtos
Quantidade de produtos
Fornecedor do produto
Usuario (não visivel)
*@

<form class="form-control" method="post" asp-controller="Product" asp-action="Save">
    <div>
        <div>
            <div>
                <label for="user">Usuario</label>
                <input type="text" class="form-control form-input" id="user" name="Company" value="@Name" disabled>
            </div>
        </div>
        <div>
            <table>
                <tr>
                    <th class="table-name">Produto</th>
                    <th>Unidade</th>
                    <th>Tipo</th>
                    <th>Quantidade</th>
                </tr>
                <tr>
                    <td>Papel</td>
                    <td>Pacote</td>
                    <td>Produto</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Papel</td>
                    <td>Pacote</td>
                    <td>Produto</td>
                    <td>1</td>
                </tr>
                <tr class="tr-footer">
                    <td colspan="4">
                        <div class="table-footer">
                            <button type="button" class="btn-squarred btn-squarred-primary">
                                <span class="material-symbols-outlined">
                                    add_circle
                                </span>
                            </button>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="col form-footer">
        @if (Model.Id > 0)
        {
            <input type="hidden" name="Id" value="@Model.Id">
            <h2>ID: @Model.Id</h2>
        }
        <div class="col">
            <a asp-controller="Product" asp-action="List" class="btn btn-primary">Cancelar</a>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </div>
</form>

@section scripts {
    <script>
        const addBtn = document.querySelector('.btn-squarred')
        const products = []

        const newTable = (data) => {
            const rows = data.map(product => {
                return `
                    <tr>
                        <td>${product.name}</td>
                        <td>${product.unit ? getUnit(product.unit) : '-'}</td>
                        <td>${getProductType(product.type)}</td>
                    </tr>
                `
            })

            rows.unshift(`
                <tr>
                    <th>Produto</th>
                    <th>Unidade</th>
                    <th>Tipo</th>
                </tr>
            `)

            const table = document.querySelector('#result')
            table.innerHTML = rows.join('')
        }

        const searchProdut = (input) => {
            const value = input.value
            const table = document.querySelector('#result')
            const url = !value ? `${host}/Product/Get` : `${host}/Product/Search?name=${value}`

            fetch(url)
                .then(res => res.json())
                .then(data => newTable(data))
        }

        addBtn.addEventListener('click', () => {
            Swal.fire({
                title: 'Adicionar Produto',
                html: `
                                <div class="form-control">
                                    <div>
                                        <label for="name">Escreva o nome do produto</label>
                                        <input type="text" class="form-input" id="search" oninput="searchProdut(this)" autocomplete="off">
                                    </div>
                                    <div class="qtd">
                                        <label for="name">Qtd.</label>
                                        <input type="number" class="form-input" id="name" name="name" autocomplete="off">
                                    </div>
                                </div>
                                <table id="result">

                                </table>
                                <div class="form-control">
                                </div>
                            `,
                didOpen: () => {
                    const input = document.querySelector('#search')
                    input.focus()

                    fetch(`${host}/Product/Get`)
                        .then(res => res.json())
                        .then(data => newTable(data))
                },
            })
        })
    </script>
}
