<!DOCTYPE html>

@{
    Layout = "_LandLayout";
}

<h1>Crie sua conta</h1>
<p>use seu email para criar sua conta</p>

<form class="login-form" method="post" asp-controller="Land" asp-action="Login">
    <div class="form-group">
        <span class="material-symbols-outlined">mail</span>
        <input type="email" class="form-control" id="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <span class="material-symbols-outlined">account_circle</span>
        <input type="text" class="form-control" id="username" placeholder="Nome de Usuario" required>
    </div>
    <div class="form-group">
        <span class="material-symbols-outlined">lock</span>
        <input type="email" class="form-control" id="password" placeholder="Senha" required>
    </div>
    <button type="submit" class="btn btn-primary">Criar conta</button>
</form>