.content {
    height: 100vh;
}

h1 {
    font-size: 2.4rem;
    color: #6C2020;
}

p {
    font-size: 0.8rem;
}

.btn {
    background: #6C2020;
    color: #fff;
    width: 70%;
    border: none;
}

.btn:hover {
    background: #fff;
    color: #6C2020;
}